@@include('../../sections/home/contact-1.html')

<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container"  data-v-component-site>
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Email</h5>
          <p class="text-white paragraph-lg font-secondary" data-v-site-contact-email>steve.fruits@email.com</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Phone</h5>
          <p class="text-white paragraph-lg font-secondary" data-v-site-phone-number>+880 2544 658 256</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Address</h5>
          <p class="text-white paragraph-lg font-secondary" data-v-site-address>125/A, CA Commercial Area, California, USA</p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">Copyright &copy;<script>
        var CurrentYear = new Date().getFullYear()
        document.write(CurrentYear)
      </script> <span data-v-global-site-title>Vvveb</span> Designed &amp; Developed by <a class="text-white-50" href="https://themefisher.com/">Themefisher</a> Powered by <a class="text-white-50" href="https://www.vvveb.com">Vvveb</a></p>
  </div>
</footer>
<!-- /footer -->
